ENVIRONMENT=development
PORT=8001
HOST=0.0.0.0
DATABASE_URL=postgres://postgres:postgres@localhost:5432/backend_go?sslmode=disable
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=86941813-8b97-4cad-b0b2-f97734a947d7
RATE_LIMIT_MAX=100
RATE_LIMIT_WINDOW=1m
